html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

nav {
  margin: 0;
  padding: 0;
}

.new {
  margin-top: 50px;
}
body {
  font-family: "Spartan", sans-serif;
  background-color: hsl(180, 52%, 96%);
  margin: 0;
  padding: 0;
}
header {
  margin: 0;
  padding: 0;
}

.navigation {
  position: fixed;
}
/* header {
  width: 100%;
  height: 150px;
  background: hsl(180, 29%, 50%) url("./images/bg-header-mobile.svg");
  background-repeat: repeat-x;
  margin: 0;
} */

.bg-custom {
  background-color: hsl(180, 29%, 50%);
}

.about-me {
  margin: 30px auto;
}

.about-me p {
  text-align: justify;
}
.profile {
  width: 100%;
  height: 200px;
  border-radius: 50%;
}

h1 {
  font-weight: 700;
}

hr {
  width: 80px;
  border: 3px hsl(180, 29%, 50%) solid;
}

h5,
h6 {
  font-weight: 700;
}
.card-img-top {
  object-fit: cover;
  object-position: center;
}

.tools {
  display: flex;
  justify-content: center;
}
.tools > span {
  display: inline-block;
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 52%, 96%);
  padding: 10px 10px;
  margin: 10px 7px;
  border-radius: 50px;
  font-weight: 700;
}

i {
  color: hsl(180, 29%, 50%);
}

.custom-button {
  background-color: hsl(180, 29%, 50%);
}

.custom-button:enabled {
  background-color: hsl(180, 29%, 50%);
}

.custom-button a {
  color: hsl(180, 52%, 96%);
}

.progress-bar {
  background-color: hsl(180, 29%, 50%);
}

.btn-contacts {
  background-color: hsl(180, 29%, 50%);
  padding: 15px 10px;
  width: 150px;
  border: none;
  border-radius: 20px;
}

.btn-contacts:active {
  background-color: hsl(180, 41%, 61%);
}

.btn-contacts a {
  color: hsl(180, 52%, 96%);
  text-decoration: none;
}
